$basicColor : #1E1E1E;
$basicWcolor : #F8F8F8;
$activeColor : #999999;
$miniColor : #EDE5D8;
$darkColor : #272B28;


@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

.en {
  font-family: "Marmelad", sans-serif !important;
}


.story {

  margin-top: 180px;

  .bg {
    height: 90vw;
    max-height: 800px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;


    .content {

      h3,
      a,
      .en,
      .text {
        color: $basicWcolor;

      }

      h3 {
        font-size: 35px;
        font-weight: 400;
      }

      .en {
        font-size: 40px;
        font-weight: 300;
        margin-top: 1rem;
      }

      .text {
        font-size: 20px;
        font-weight: 200;
        margin: 3rem 0 4rem 0;

      }

      a {
        font-size: 20px;
        font-weight: 200;
        padding: 0.5rem 3rem;
        border: 1.2px solid $basicWcolor;

        &:hover {
          background-color: rgba($basicWcolor, $alpha: 0.2);

        }
      }
      
    }
  }
}