$basicColor : #1E1E1E;
$basicWcolor : #F8F8F8;
$activeColor : #999999;
$miniColor : #EDE5D8;
$darkColor : #272B28;
$fontbasic : "Noto Sans KR";
$enfont: "Roboto";



// 스크롤 내릴 때 

.scroll {
  background-color: rgba($basicWcolor, $alpha: 0.5);
  border-bottom: 1px solid $basicColor;



  .adtop {
    margin-top: -32px;
    transition: 0.5s;
  }

  .menu_a {
    color: $activeColor !important;
    line-height: 70px;

    &:hover {
      color: $basicColor !important;
    }

    @media (max-width:990px) {
      line-height: 0;
    }

  }

}

header {
  &:hover {
    background-color: rgba($basicWcolor, $alpha: 0.5);
    border-bottom: 1px solid $basicColor ;
  }

  border-bottom: 1px solid $basicWcolor;

  @media (min-width:991px) {

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      height: 0;
      background-color: rgba($basicWcolor, $alpha: 0.5);
    }


    &.showback::before {
      height: 350px;
    }
  }


  // 상단배너
  .adtop {
    background-color: $darkColor;

    span {
      color: $basicWcolor;
      font-size: 12px;
      font-weight: 400;

      &:hover {
        color: $miniColor;
      }
    }

  }

  // 네비게이션
  .hd {


    @media (max-width:990px) {
      padding: 1rem 0;
    }

    .navi {

      @media (max-width:990px) {
        display: flex;
        align-items: start;

      }

      .gnb {


        // 반응형
        @media (max-width:990px) {
          position: absolute;
          left: 0;
          right: 0;
          top: 100%;

          display: none;
          flex-direction: column;
          width: 100%;
          background-color: $basicWcolor;


        }

        &.act {
          display: flex;
        }




        .menu_li {
          padding: 0 1rem;



          @media (max-width:990px) {
            padding: 1rem 4rem;

            .menu_a {
              color: $basicColor;
            }

            .sub_ul {
              visibility: visible !important;
              opacity: 1 !important;
            }

          }

          &:last-child {
            padding-right: 0;
          }

          @media (min-width:991px) {
            &:hover {
              .menu_a {
                color: $basicColor;
              }

              .sub_ul {
                visibility: visible;
                opacity: 1;
              }
            }

          }


          .menu_a {
            font-size: 1rem;
            line-height: 100px;
            color: $basicWcolor;

            @media (max-width:990px) {
              color: $basicColor ;

              line-height: 0;

              &:hover {
                font-weight: 400;
              }
            }
          }

          .sub_ul {
            // width: 100%;
            left: 0;
            top: 100%;
            // height: 0;
            overflow: hidden;
            background-color: transparent;
            white-space: nowrap;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;


            @media (max-width:990px) {
              position: unset !important;

              display: none;

              &.act {
                display: block;
              }

            }



            li {

              a {
                font-size: 13px;
                display: inline-block;
                padding: .3rem 1rem;
                color: $activeColor ;

                &:hover {
                  color: $basicColor;
                  font-weight: 400;
                }

              }

              @media (max-width:990px) {


                a {
                  padding: .5rem 0;

                }
              }

            }
          }
        }


      }

      .box {
        li {


          a {

            svg {
              // width: 24px;
              // height: 24px;

              path {
                color: $basicColor;

              }
            }
          }

          span {
            &:hover {
              color: $activeColor;
            }
          }

        }
      }


    }
  }




  // 햄버거버튼

  .gnb_btn {
    width: 25px;
    height: 24px;
    background: transparent;
    border: 0;


    i {
      position: absolute;
      z-index: 1000;
      background-color: $basicColor;
      display: block;
      width: 100%;
      height: 2px;
      transition: 0.5s;


      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: calc(50% - 1px);
      }

      &:nth-child(3) {
        bottom: 0;
      }

    }

    &.act {
      i {
        &:nth-child(1) {
          top: 50%;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          top: 50%;
          transform: rotate(-45deg);
        }
      }

    }
  }

}