$basicColor : #1E1E1E;
$basicWcolor : #F8F8F8;
$activeColor : #999999;
$miniColor : #EDE5D8;
$darkColor : #272B28;
$fontbasic : "Noto Sans KR";
$enfont: "Roboto";

* a {
  text-decoration: none;
  color: $basicColor;
}

body {
  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  li,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
}

.w-0 {
  width: 0;
  white-space: nowrap;
}

.zup {
  z-index: 10000;
}