$basicColor : #1E1E1E;
$basicWcolor : #F8F8F8;
$activeColor : #999999;
$miniColor : #EDE5D8;
$darkColor : #272B28;
$fontbasic : "Noto Sans KR";
$enfont: "Roboto";

* a {
  text-decoration: none;
  color: $basicColor;
}

body {
  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  li,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
}


.w-0 {
  width: 0;
  white-space: nowrap;
}

.zup {
  z-index: 10000;
}


// 텍스트 애니메이션


.chbswiper {


  .swiper-slide.swiper-slide-active {
    .chb_ctt {
      h3 {
        transform: translateY(0);
        opacity: 1;
      }

      p {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }


  .chb_ctt {
    h3 {
      transform: translateY(-70%);
      opacity: 0;
    }

    p {
      transform: translateY(70%);
      opacity: 0;
    }
  }


}



.chbswiper {

  position: relative;

  // .swiper {
  //   position: relative;


  // }




  // 배너 텍스트 색 변경

  .banner_0 {

    .chb_ctt {

      h3,
      p,
      a {
        color: $basicColor;
      }

      a {
        font-size: 20px;
        font-weight: 200;
        color: $basicColor;
        padding: 0.5rem 3rem;
        border: 1.2px solid $basicColor;

        &:hover {
          background-color: rgba($basicColor, $alpha: 0.2);
          color: $basicWcolor ;
        }
      }

      @media (max-width:990px) {

        h3,
        p,
        a {
          color: $basicWcolor;
        }

        a {
          font-size: 2vw;
          color: $basicWcolor;
          border: 1.2px solid $basicWcolor;

          &:hover {
            background-color: rgba($basicWcolor, $alpha: 0.2);

          }
        }
      }

    }
  }


  .container.buttonright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 1rem;
    width: auto;
    left: unset;
    align-items: center;
    position: absolute;
    bottom: 0;
    z-index: 1000;


    .swiper-pagination-bullets {
      flex-direction: column;
      align-items: center;

      .swiper-pagination-bullet {
        background-color: $basicWcolor;
        display: block;
        margin: 9px 0;
        width: 4px;
        height: 4px;
        opacity: .7;

        &.swiper-pagination-bullet-active {
          width: 8px;
          height: 8px;
          opacity: 1;
        }
      }
    }
  }
}